<nav class="navbar">
  <a href="/">MICROIF<span>.</span></a>
  <ul>
    <li><a href="/" <% if (title == "Home") { %>
     id="active"
    <% } %>>Home</a></li>
    <li><a href="/about"<% if (title == "About") { %>
     id="active"
    <% } %>>About Us</a></li>
  </ul>
</nav>
