<div class="container">
  <div class="row">
    <h1 class="mt-2">Tentang Projek</h1>
    <p class="mt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam vitae reiciendis veniam voluptate nisi molestias quod sint suscipit explicabo odio esse incidunt tenetur ex alias unde necessitatibus libero, aperiam, rerum excepturi!
      Unde, tempore voluptatem harum, amet tempora laudantium praesentium vero nobis eum rem maiores eveniet possimus a impedit molestiae architecto sed iusto cupiditate repellendus aliquam. Itaque distinctio quos voluptatibus recusandae
      aliquam dicta officia alias et! Velit error provident facilis sapiente labore vitae nulla molestiae inventore aliquid porro optio, incidunt explicabo odit quidem qui suscipit tempora, aliquam totam neque. Perspiciatis est unde qui
      soluta quam nemo, doloribus minima alias accusamus recusandae?
    </p>
  </div>
  <div class="row mt-5">
    <h1>Tim Pengembang</h1>
    <div class="col text-center mt-3">
      <img src="img/apalah ini.jpg" alt="ahmad faqih" class="img-thumbnail rounded-circle" width="200px" />
      <h1 class="display-4">Ahmad Faqih Hidayat</h1>
      <p class="lead">Mahasiswa | Beginner WebDev</p>
    </div>
    <div class="col text-center mt-3">
      <img src="img/apalah ini.jpg" alt="ahmad faqih" class="img-thumbnail rounded-circle" width="200px" />
      <h1 class="display-4">Riefkyanof Surya</h1>
      <p class="lead">Mahasiswa | Beginner WebDev</p>
    </div>
    <div class="col text-center mt-3">
      <img src="img/apalah ini.jpg" alt="ahmad faqih" class="img-thumbnail rounded-circle" width="200px" />
      <h1 class="display-4">Danang</h1>
      <p class="lead">Mahasiswa | Beginner WebDev</p>
    </div>
  </div>
  <div class="row mt-5">
    <h1>Teknologi Yang digunakan</h1>
    <p class="mt-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam vitae reiciendis veniam voluptate nisi molestias quod sint suscipit explicabo odio esse incidunt tenetur ex alias unde necessitatibus libero, aperiam, rerum excepturi!
      Unde, tempore voluptatem harum, amet tempora laudantium praesentium vero nobis eum rem maiores eveniet possimus a impedit molestiae architecto sed iusto cupiditate repellendus aliquam. Itaque distinctio quos voluptatibus recusandae
      aliquam dicta officia alias et! Velit error provident facilis sapiente labore vitae nulla molestiae inventore aliquid porro optio, incidunt explicabo odit quidem qui suscipit tempora, aliquam totam neque. Perspiciatis est unde qui
      soluta quam nemo, doloribus minima alias accusamus recusandae?
    </p>
  </div>
</div>
