<h4>Tabel Pemantau Kondisi Air</h4>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">NO</th>
      <th scope="col">Tanggal</th>
      <th scope="col">Waktu</th>
      <th scope="col">Kualitas Air</th>
      <th scope="col">Indikator warna</th>
    </tr>
  </thead>
  <tbody>
    <% if (datas.length === 0) { %>
    <tr>
      <td colspan="5">
        <div class="alert alert-danger fw-bold text-center" role="alert">Data masih kosong.</div>
      </td>
    </tr>
    <% } %> <% datas.forEach((data,i) => { %>
    <tr>
      <th scope="row"><%= i + 1 %></th>
      <td><%= data.createdAt.toLocaleDateString() %></td>
      <td><%= data.createdAt.toLocaleTimeString() %></td>
      <td><%=data.tds%></td>
      <td>Tes</td>
    </tr>
    <% }) %>
  </tbody>
</table>
